@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::root {
    /*Body BG*/
    --Light-Gray: hsl(204, 43%, 93%);
    /*BL BG*/
    --Cyan: hsl(179, 62%, 43%);
    /*BR BG*/
    --Light-Cyan: hsl(179, 47%, 52%);
    /*Button*/
    --Bright-Yellow: hsl(71, 73%, 54%);
    /* Text-color*/
    --Grayish-Blue: hsl(218, 22%, 67%);
    
}

body {
    font-family: 'Karla', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Top Top"
    "BL BR";
}
  
.Top { 
    grid-area: Top;
    background-color: var(--Light-Gray);
}

.BL { 
    grid-area: BL; 
    background-color: var(--Light-Gray);
}

.BR { 
    grid-area: BR;
    background-color: var(--Light-Gray);
}
